/* GENERAL */
body {
    margin: 0;
    padding: 0;
    background: #ececec;
    font-family: "Cormorant Garamond", serif;
    color: #400128;
}

/* NAVBAR */
.navbar {
    background: #400128;
    color: #ececec;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 32px;
    font-weight: 600;
}

.navbar nav a {
    margin-left: 25px;
    color: #ececec;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
}

.hero-video-wrapper {
    width: 45%;
    border-bottom-left-radius: 200px;
    overflow: hidden;
}

.hero-video-wrapper video {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    width: 45%;
    text-align: center;
}

.hero-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

.cta-btn {
    display: inline-block;
    padding: 12px 30px;
    background: #cbbca6;
    border: 3px solid #400128;
    border-radius: 12px;
    text-decoration: none;
    color: #400128;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-sub {
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 1px;
}

/* PILLARS */
.pillars-section {
    padding: 60px;
    text-align: center;
}

.pillars-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.pillars {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.pillar {
    background: #400128;
    color: #ececec;
    padding: 40px 25px;
    width: 220px;
    border-radius: 20px;
    letter-spacing: 1px;
}

.pillar h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #400128;
    font-size: 14px;
    margin-top: 40px;
}
