body {
  font-family: Arial, sans-serif;
  background: #ececec;
  color: #400128;
  margin: 0;
  padding: 0;
}
header {
  background: #400128;
  color: #ececec;
  padding: 20px;
  text-align: center;
}
nav a {
  margin: 0 15px;
  color: #ececec;
  text-decoration: none;
  font-weight: bold;
}
section { padding: 40px; }
h1, h2 { color: #400128; }
.card {
  background: #cbbca6;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}
